/* import tailwind css rules */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* add css rules for all components */
* {
    background-color: rgb(38, 38, 38);
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}