/* import tailwind css rules */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* add css rules for all components */
* {
    font-family: 'Fira Mono', monospace;
    background-color: #111827;
    cursor: grab;
}

h1,
h2 {
    font-family: 'VT323', monospace;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

li {
    list-style: none;
}